<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extentions>
		<add assembly="Nlog.web.AspNetCore" />
	</extentions>
	<targets>
		<target xsi:type="File" name="fileTarget" fileName="${basedir}/log/nlog-${shortdate}.log" />
		
	</targets>
	<rules>
		
		<logger name="*" minlevel="Info" writeTo="fileTarget" />
	</rules>
</nlog>