<div class="row carousel-holder" style="margin-top:-19px;">
    <div class="col-md-12 col-lg-12">
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style="align-content:center">
                <div class="item active">
                    <img class="slide-image" src="~/Images/image2.jpeg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/acc1.png" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/image4.jpeg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/access2.png" alt="">
                </div>
                @*<div class="item">
                    <img class="slide-image" src="~/Images/access2.png" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/access2.png" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/access2.png" alt="">
                </div>*@
                @*<div class="item" style="">
            <table style="width:500px;height:200px " align="center">
                <caption>Taux du jour</caption>
                <tr>
                    <th>Dollar</th>
                    <td>200000</td>
                </tr>
                <tr>
                    <th>Dollar</th>
                    <td>200000</td>
                </tr>
            </table>



        </div>*@
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#carousel-example-generic').on('slide.bs.carousel', function () {
            
        })

    })
</script>
